@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b1220;
  --foreground: #e2e8f0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
